.categoryDiv {
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.categoryFont1 {
    font-size: 4vh;
    padding-bottom: 1rem;
}

.categoryFont2 {
    font-size: 2.5vh;
    padding-bottom: 2.5rem;
}

.categoryGrid {
    display: grid;
}

.categoryGrid .row {
    margin-top: 2rem;
}

.categoryGrid .column {
    margin-top: 1rem;
}